<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Task</title>
</head>
<body>
  <section>

    <div >
      <p>
        {{title}}

      </p>
      <p>
        <h4>

          @each(item in tasks)

            <li> {{item.title}}<li>
          @endeach

            <ul>
        <p>
    </div>
  </section>
</body>
</html>
